<ul class="video-list">
  <video-list-entry ng-repeat='videoEntry in videoListCtrl.videos' video="videoEntry" on-click='videoListCtrl.onClick'><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <!-- <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry> -->
</ul>
